Repository Gargamelism/youtube-gallery: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests, black-fix, ruff-fix, mypy-check, bandit-security

eslint-fix:
  name: ESLint Fix
  entry: docker-compose run --rm --use-aliases frontend npm run lint:fix
  language: system
  pass_filenames: false

prettier-fix:
  name: Prettier Format
  entry: docker-compose run --rm --use-aliases frontend npx prettier --write .
  language: system
  pass_filenames: false

type-check:
  name: Type Check
  entry: docker-compose run --rm --use-aliases frontend npm run type-check
  language: system
  pass_filenames: false

dependency-check:
  name: Dependency Check
  entry: docker-compose run --rm --use-aliases frontend sh -c "npx --yes dependency-cruiser --validate .dependency-cruiser.cjs ."
  language: system
  pass_filenames: false

ts-prune-check:
  name: TS-Prune (Unused Exports)
  entry: docker-compose run --rm --use-aliases frontend sh -c "npx ts-prune | grep -v 'used in module'"
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit Fix
  entry: docker-compose run --rm --use-aliases frontend sh -c "npm audit fix --force"
  language: system
  pass_filenames: false

next-tests:
  name: Next Tests
  entry: docker-compose run --rm --use-aliases frontend npm run test
  language: system
  pass_filenames: false

black-fix:
  name: Black Format
  entry: docker-compose run --rm --use-aliases backend black .
  language: system
  pass_filenames: false

ruff-fix:
  name: Ruff Fix
  entry: docker-compose run --rm --use-aliases backend ruff check . --fix
  language: system
  pass_filenames: false

mypy-check:
  name: Mypy Type Check
  entry: docker-compose run --rm --use-aliases backend mypy .
  language: system
  pass_filenames: false

bandit-security:
  name: Bandit Security Check
  entry: docker-compose run --rm --use-aliases backend bandit -r . --severity-level medium
  language: system
  pass_filenames: false

investigating
  frontend/components/player/VideoPlayer.tsx
  frontend/lib/storage.ts
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests

fix play location not saved
  frontend/app/videos/components/VideoList.tsx
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests

fix pipeline
  frontend/components/player/VideoPlayer.tsx
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests

audit fixes
  frontend/package-lock.json
  frontend/package.json
Due: prettier-fix

fix audit
  .github/workflows/code-quality.yml
  CLAUDE.md
  frontend/knip.json
  frontend/package-lock.json
  frontend/package.json
Due: prettier-fix

Progress not saved (#14)
  .github/workflows/code-quality.yml
  CLAUDE.md
  frontend/app/videos/components/VideoList.tsx
  frontend/components/player/VideoPlayer.tsx
  frontend/knip.json
  frontend/lib/storage.ts
  frontend/package-lock.json
  frontend/package.json
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests

redirect url causes issues when not using "current url"
  frontend/components/auth/YouTubeAuthBanner.tsx
  frontend/components/channels/ImportChannelModal.tsx
  frontend/lib/config.ts
  frontend/services/auth.ts
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests

redirect url causes issues when not using "current url" (#15)
  frontend/components/auth/YouTubeAuthBanner.tsx
  frontend/components/channels/ImportChannelModal.tsx
  frontend/lib/config.ts
  frontend/services/auth.ts
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests

added sorting options
  backend/users/tests/test_channel_performance.py
  backend/videos/services/search.py
  backend/videos/tests/test_channel_import_view_quota.py
  backend/videos/tests/test_channel_update_service.py
  backend/videos/tests/test_channel_updating.py
  backend/videos/tests/test_not_interested.py
  backend/videos/tests/test_quota_tracker.py
  backend/videos/tests/test_serializer_optimization.py
  backend/videos/tests/test_url_formatting.py
  backend/videos/tests/test_youtube_import_quota_integration.py
  backend/videos/validators.py
  backend/videos/views.py
  docker-compose.yml
  feature_designs/2026-03-09-in-progress-first-video-sorting.md
  frontend/Dockerfile
  frontend/app/videos/components/FilterButtons.tsx
  frontend/app/videos/components/SortSelector.tsx
  frontend/hooks/useVideoFilters.ts
  frontend/locales/en/videos.json
  frontend/services/videos.ts
  frontend/types.ts
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests, black-fix, ruff-fix, mypy-check, bandit-security

pr fixes
  backend/users/tests/test_channel_performance.py
  backend/videos/decorators.py
  backend/videos/management/commands/setup_periodic_tasks.py
  backend/videos/services/search.py
  backend/videos/services/youtube.py
  backend/videos/tests/test_quota_tracker.py
  backend/videos/views.py
  frontend/app/videos/components/__tests__/VideoList.test.tsx
  frontend/hooks/__tests__/useInfiniteVideos.test.tsx
  frontend/hooks/__tests__/useVideoFilters.test.ts
  frontend/package-lock.json
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests, black-fix, ruff-fix, mypy-check, bandit-security

fix precomit errors
  .pre-commit-config.yaml
  frontend/app/videos/components/FilterButtons.tsx
  frontend/app/videos/components/VideoList.tsx
  frontend/hooks/__tests__/useVideoFilters.test.ts
  frontend/services/__tests__/videos.test.ts
  frontend/types.ts
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests

added sorting options (#16)
  .pre-commit-config.yaml
  backend/users/tests/test_channel_performance.py
  backend/videos/decorators.py
  backend/videos/management/commands/setup_periodic_tasks.py
  backend/videos/services/search.py
  backend/videos/services/youtube.py
  backend/videos/tests/test_channel_import_view_quota.py
  backend/videos/tests/test_channel_update_service.py
  backend/videos/tests/test_channel_updating.py
  backend/videos/tests/test_not_interested.py
  backend/videos/tests/test_quota_tracker.py
  backend/videos/tests/test_serializer_optimization.py
  backend/videos/tests/test_url_formatting.py
  backend/videos/tests/test_youtube_import_quota_integration.py
  backend/videos/validators.py
  backend/videos/views.py
  docker-compose.yml
  feature_designs/2026-03-09-in-progress-first-video-sorting.md
  frontend/Dockerfile
  frontend/app/videos/components/FilterButtons.tsx
  frontend/app/videos/components/SortSelector.tsx
  frontend/app/videos/components/VideoList.tsx
  frontend/app/videos/components/__tests__/VideoList.test.tsx
  frontend/hooks/__tests__/useInfiniteVideos.test.tsx
  frontend/hooks/__tests__/useVideoFilters.test.ts
  frontend/hooks/useVideoFilters.ts
  frontend/locales/en/videos.json
  frontend/package-lock.json
  frontend/services/__tests__/videos.test.ts
  frontend/services/videos.ts
  frontend/types.ts
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests, black-fix, ruff-fix, mypy-check, bandit-security

fix order bug
  backend/videos/views.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

fixed ordering
  backend/videos/views.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

fix fe error
  frontend/tailwind.config.cjs
Due: none

Order videos by progress (#17)
  backend/videos/views.py
  frontend/tailwind.config.cjs
Due: black-fix, ruff-fix, mypy-check, bandit-security

add shorts filter and length limitations
  backend/users/models.py
  backend/videos/management/commands/backfill_duration_fields.py
  backend/videos/migrations/0007_add_duration_seconds_and_is_short.py
  backend/videos/models.py
  backend/videos/services/search.py
  backend/videos/services/youtube.py
  backend/videos/tests/test_duration_and_shorts_filter.py
  backend/videos/validators.py
  backend/videos/views.py
  feature_designs/2026-03-21-filter-by-length-and-shorts.md
  frontend/app/videos/components/FilterButtons.tsx
  frontend/app/videos/components/__tests__/FilterButtons.test.tsx
  frontend/hooks/__tests__/useVideoFilters.test.ts
  frontend/hooks/useVideoFilters.ts
  frontend/lib/watchPreferencesConstants.ts
  frontend/locales/en/settings.json
  frontend/locales/en/videos.json
  frontend/services/__tests__/videos.test.ts
  frontend/services/videos.ts
  frontend/types.ts
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests, black-fix, ruff-fix, mypy-check, bandit-security

refine branch
  backend/videos/models.py
  backend/videos/services/search.py
  backend/videos/services/youtube.py
  frontend/app/videos/components/FilterButtons.tsx
  frontend/hooks/useVideoFilters.ts
  frontend/locales/en/settings.json
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests, black-fix, ruff-fix, mypy-check, bandit-security

fix tests
  backend/videos/management/commands/backfill_duration_fields.py
  backend/videos/services/youtube.py
  backend/videos/tests/test_duration_and_shorts_filter.py
  frontend/app/videos/components/FilterButtons.tsx
  frontend/components/navigation/NavigationLogo.tsx
  frontend/components/player/VideoPlayer.tsx
  frontend/eslint.config.js
  frontend/hooks/useVideoFilters.ts
  frontend/package.json
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests, black-fix, ruff-fix, mypy-check, bandit-security

pre-commit fixes
  .claude/commands/finalize-branch.md
  .gitignore
  backend/users/models.py
  backend/videos/models.py
  backend/videos/services/youtube.py
  backend/videos/tests/test_duration_and_shorts_filter.py
  frontend/package-lock.json
  frontend/package.json
  frontend/services/__tests__/videos.test.ts
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests, black-fix, ruff-fix, mypy-check, bandit-security

code rabbit fixes
  backend/videos/management/commands/backfill_duration_fields.py
  backend/videos/models.py
  backend/videos/services/youtube.py
  backend/videos/validators.py
  frontend/app/videos/components/FilterButtons.tsx
  frontend/hooks/useVideoFilters.ts
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests, black-fix, ruff-fix, mypy-check, bandit-security

package-lock fix
  frontend/package-lock.json
Due: prettier-fix

formatting
  backend/videos/management/commands/backfill_duration_fields.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

Filter shorts (#18)
  .claude/commands/finalize-branch.md
  .gitignore
  backend/videos/management/commands/backfill_duration_fields.py
  backend/videos/migrations/0007_add_duration_seconds_and_is_short.py
  backend/videos/models.py
  backend/videos/services/search.py
  backend/videos/services/youtube.py
  backend/videos/tests/test_duration_and_shorts_filter.py
  backend/videos/validators.py
  backend/videos/views.py
  feature_designs/2026-03-21-filter-by-length-and-shorts.md
  frontend/app/videos/components/FilterButtons.tsx
  frontend/app/videos/components/__tests__/FilterButtons.test.tsx
  frontend/components/navigation/NavigationLogo.tsx
  frontend/components/player/VideoPlayer.tsx
  frontend/eslint.config.js
  frontend/hooks/__tests__/useVideoFilters.test.ts
  frontend/hooks/useVideoFilters.ts
  frontend/lib/watchPreferencesConstants.ts
  frontend/locales/en/videos.json
  frontend/package-lock.json
  frontend/package.json
  frontend/services/__tests__/videos.test.ts
  frontend/services/videos.ts
  frontend/types.ts
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests, black-fix, ruff-fix, mypy-check, bandit-security

fix overlay
  frontend/components/player/VideoPlayer.tsx
  frontend/components/player/keyboardShortcuts.ts
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests

gui redesign
  .pre-commit-config.yaml
  docker-compose.yml
  frontend/Dockerfile
  frontend/app/layout.tsx
  frontend/app/videos/components/FilterButtons.tsx
  frontend/app/videos/components/VideoCard.tsx
  frontend/app/videos/components/__tests__/FilterButtons.test.tsx
  frontend/app/videos/components/__tests__/VideoCard.test.tsx
  frontend/app/videos/page.tsx
  frontend/components/sidebar/Sidebar.tsx
  frontend/components/sidebar/__tests__/Sidebar.test.tsx
  frontend/e2e/auth.setup.ts
  frontend/e2e/filters.spec.ts
  frontend/e2e/sidebar.spec.ts
  frontend/e2e/video-card.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests

branch review fixes
  .gitignore
  frontend/.dependency-cruiser.cjs
  frontend/app/videos/components/FilterButtons.tsx
  frontend/app/videos/components/VideoCard.tsx
  frontend/app/videos/components/__tests__/FilterButtons.test.tsx
  frontend/app/videos/components/__tests__/VideoCard.test.tsx
  frontend/app/videos/page.tsx
  frontend/components/sidebar/Sidebar.tsx
  frontend/components/sidebar/__tests__/Sidebar.test.tsx
  frontend/config/routes.ts
  frontend/e2e/filters.spec.ts
  frontend/e2e/helpers.ts
  frontend/e2e/sidebar.spec.ts
  frontend/e2e/video-card.spec.ts
  frontend/eslint.config.js
  frontend/jest.config.js
  frontend/locales/en/navigation.json
  frontend/locales/en/videos.json
  frontend/tsconfig.json
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests

code rabbit fixes
  .pre-commit-config.yaml
  docker-compose.yml
  frontend/Dockerfile
  frontend/app/videos/components/FilterButtons.tsx
  frontend/app/videos/components/VideoCard.tsx
  frontend/app/videos/components/__tests__/FilterButtons.test.tsx
  frontend/app/videos/components/__tests__/VideoCard.test.tsx
  frontend/app/videos/page.tsx
  frontend/components/sidebar/Sidebar.tsx
  frontend/config/routes.ts
  frontend/e2e/auth.setup.ts
  frontend/playwright.config.ts
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests

Re design (#19)
  .gitignore
  .pre-commit-config.yaml
  docker-compose.yml
  frontend/.dependency-cruiser.cjs
  frontend/Dockerfile
  frontend/app/layout.tsx
  frontend/app/videos/components/FilterButtons.tsx
  frontend/app/videos/components/VideoCard.tsx
  frontend/app/videos/components/__tests__/FilterButtons.test.tsx
  frontend/app/videos/components/__tests__/VideoCard.test.tsx
  frontend/app/videos/page.tsx
  frontend/components/sidebar/Sidebar.tsx
  frontend/components/sidebar/__tests__/Sidebar.test.tsx
  frontend/config/routes.ts
  frontend/e2e/auth.setup.ts
  frontend/e2e/filters.spec.ts
  frontend/e2e/helpers.ts
  frontend/e2e/sidebar.spec.ts
  frontend/e2e/video-card.spec.ts
  frontend/eslint.config.js
  frontend/jest.config.js
  frontend/locales/en/navigation.json
  frontend/locales/en/videos.json
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tsconfig.json
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests

fix logo location
  frontend/app/videos/page.tsx
  frontend/locales/en/videos.json
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests

remove double logo
  frontend/app/videos/page.tsx
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests

fixed blank page when token expires issue
  docker-compose.yml
  feature_designs/2026-04-19-fix-auth-blank-screen-on-stale-token.md
  frontend/app/auth/__tests__/page.test.tsx
  frontend/app/auth/page.tsx
  frontend/package-lock.json
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests

pr fixes
  docker-compose.yml
  frontend/app/auth/__tests__/page.test.tsx
  frontend/app/auth/page.tsx
  frontend/locales/en/auth.json
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests

fixed blank page when token expires issue (#20)
  docker-compose.yml
  feature_designs/2026-04-19-fix-auth-blank-screen-on-stale-token.md
  frontend/app/auth/__tests__/page.test.tsx
  frontend/app/auth/page.tsx
  frontend/locales/en/auth.json
  frontend/package-lock.json
Due: eslint-fix, prettier-fix, type-check, dependency-check, ts-prune-check, npm-audit, next-tests

upgrade to django 5.2, pg 18 and add a backup process
  .gitignore
  backend/requirements.txt
  backup/Dockerfile
  backup/README.md
  backup/crontab
  backup/entrypoint.sh
  backup/rclone/.gitkeep
  backup/restore.sh
  backup/run-backup.sh
  docker-compose.prod.yml
  docker-compose.yml
  feature_designs/2026-05-05-database-backup.md
Due: prettier-fix

pre commit fixes
  .pre-commit-config.yaml
  backend/requirements.txt
  docker-compose.prod.yml
  docker-compose.yml
  frontend/package-lock.json
Due: prettier-fix

bump following audit
  .github/workflows/code-quality.yml
  frontend/package-lock.json
  frontend/package.json
Due: prettier-fix

code rabbit fixes
  .pre-commit-config.yaml
  backend/requirements.txt
  backup/README.md
  backup/entrypoint.sh
  backup/restore.sh
  backup/run-backup.sh
  docker-compose.prod.yml
Due: prettier-fix

upgrade to django 5.2, pg 18 and add a backup process (#21)
  .github/workflows/code-quality.yml
  .gitignore
  .pre-commit-config.yaml
  backend/requirements.txt
  backup/Dockerfile
  backup/README.md
  backup/crontab
  backup/entrypoint.sh
  backup/rclone/.gitkeep
  backup/restore.sh
  backup/run-backup.sh
  docker-compose.prod.yml
  docker-compose.yml
  feature_designs/2026-05-05-database-backup.md
  frontend/package-lock.json
  frontend/package.json
Due: prettier-fix

raise soft limits
  backend/videos/services/youtube.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

Path conditions:
  eslint-fix: any of: \.(js|jsx|ts|tsx)$
  prettier-fix: any of: \.(js|jsx|ts|tsx|json|css|html|md)$
  type-check: any of: \.(ts|tsx)$
  dependency-check: any of: \.(ts|tsx)$
  ts-prune-check: any of: \.(ts|tsx)$
  npm-audit: any of: \.(ts|tsx)$
  next-tests: any of: \.(ts|tsx)$
  black-fix: any of: \.py$
  ruff-fix: any of: \.py$
  mypy-check: any of: \.py$
  bandit-security: any of: \.py$
