Repository Gargamelism/youtube-gallery: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # === FRONTEND (Next.js) ===
      - id: eslint-fix
        name: ESLint Fix
        entry: docker-compose run --rm --use-aliases frontend npm run lint:fix
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: prettier-fix
        name: Prettier Format
        entry: docker-compose run --rm --use-aliases frontend npx prettier --write .
        language: system
        files: \.(js|jsx|ts|tsx|json|css|html|md)$
        pass_filenames: false

      - id: ts-prune-check
        name: TS-Prune (Unused Exports)
        entry: docker-compose run --rm --use-aliases frontend sh -c "npx ts-prune | grep -v 'used in module'"
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

      # # === BACKEND (Django) ===
      - id: black-fix
        name: Black Format
        entry: docker-compose run --rm --use-aliases backend black .
        language: system
        files: \.py$
        pass_filenames: false

      - id: ruff-fix
        name: Ruff Fix
        entry: docker-compose run --rm --use-aliases backend ruff check . --fix
        language: system
        files: \.py$
        pass_filenames: false

      - id: mypy-check
        name: Mypy Type Check
        entry: docker-compose run --rm --use-aliases backend mypy .
        language: system
        pass_filenames: false
        files: \.py$

      - id: bandit-security
        name: Bandit Security Check
        entry: docker-compose run --rm --use-aliases backend bandit -r . --severity-level medium
        language: system
        pass_filenames: false
        files: \.py$

added watch status endpoints validators and tests
  backend/users/migrations/0008_add_not_interested_fields.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/tests/test_watch_progress.py
  backend/users/urls.py
  backend/users/views.py
  backend/videos/serializers.py
  backend/videos/validators.py
  backend/videos/views.py
  backend/youtube_gallery/settings.py
  feature_designs/2025-11-01-embedded-video-player.md
Due: prettier-fix, black-fix, ruff-fix, mypy-check, bandit-security

added video player component
  feature_designs/2025-11-01-embedded-video-player.md
  frontend/app/videos/components/VideoCard.tsx
  frontend/app/videos/components/VideoList.tsx
  frontend/app/videos/components/__tests__/FilterButtons.test.tsx
  frontend/app/videos/components/__tests__/NotInterestedButton.test.tsx
  frontend/components/player/VideoPlayer.tsx
  frontend/components/player/mutations.ts
  frontend/components/player/youtube.d.ts
  frontend/eslint.config.js
  frontend/lib/i18n.ts
  frontend/locales/en/player.json
  frontend/package-lock.json
  frontend/package.json
  frontend/services/videos.ts
  frontend/types.ts
Due: eslint-fix, prettier-fix, ts-prune-check

integrated player component with backend
  backend/users/models.py
  backend/videos/fields.py
  backend/videos/validators.py
  backend/videos/views.py
  feature_designs/2025-11-01-embedded-video-player.md
  frontend/app/videos/components/VideoCard.tsx
  frontend/app/videos/components/VideoList.tsx
  frontend/components/player/VideoPlayer.tsx
  frontend/components/player/youtube.d.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  next-steps.md
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

formatting
  backend/users/models.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

added settings for autowatch
  backend/users/models.py
  backend/users/urls.py
  backend/users/views.py
  backend/videos/models.py
  feature_designs/2025-11-01-embedded-video-player.md
  frontend/app/settings/components/WatchPreferencesSection.tsx
  frontend/app/settings/page.tsx
  frontend/lib/reactQueryConfig.ts
  frontend/lib/watchPreferencesConstants.ts
  frontend/locales/en/settings.json
  frontend/services/auth.ts
  frontend/types.ts
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

added url state and keyboard shortcuts
  feature_designs/2025-11-01-embedded-video-player.md
  frontend/app/settings/components/WatchPreferencesSection.tsx
  frontend/app/videos/components/VideoList.tsx
  frontend/components/player/VideoPlayer.tsx
  frontend/components/player/keyboardShortcuts.ts
  frontend/locales/en/player.json
Due: eslint-fix, prettier-fix, ts-prune-check

code quality
  backend/users/models.py
  backend/users/tests/test_watch_progress.py
  backend/users/urls.py
  backend/users/views.py
  backend/videos/models.py
  backend/videos/validators.py
  backend/videos/views.py
  frontend/app/videos/components/__tests__/FilterButtons.test.tsx
  frontend/app/videos/components/__tests__/NotInterestedButton.test.tsx
  frontend/components/player/VideoPlayer.tsx
  frontend/components/player/mutations.ts
  frontend/components/player/youtube.d.ts
  frontend/package.json
  frontend/services/auth.ts
  frontend/services/videos.ts
  frontend/tsconfig.json
  next-steps.md
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

code quality
  backend/users/models.py
  backend/users/tests/test_watch_progress.py
  backend/users/views.py
  backend/videos/models.py
  backend/videos/views.py
  frontend/app/videos/components/__tests__/VideoList.test.tsx
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

code quality
  .pre-commit-config.yaml
Due: none

code quality
  backend/users/views.py
  backend/videos/views.py
  frontend/components/player/youtube.d.ts
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

code quality
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
Due: prettier-fix

code quality
  frontend/package-lock.json
  frontend/package.json
Due: prettier-fix

code quality
  frontend/package-lock.json
Due: prettier-fix

code quality
  .pre-commit-config.yaml
  frontend/package-lock.json
Due: prettier-fix

code quality
  backend/users/migrations/0008_add_not_interested_fields.py
  backend/users/views.py
  backend/videos/validators.py
  frontend/components/player/youtube.d.ts
  frontend/tsconfig.json
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

fix tests
  backend/users/tests/test_watch_progress.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

fix audit
  frontend/package-lock.json
  frontend/package.json
Due: prettier-fix

Embed player (#9)
  .pre-commit-config.yaml
  backend/users/migrations/0008_add_not_interested_fields.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/tests/test_watch_progress.py
  backend/users/urls.py
  backend/users/views.py
  backend/videos/fields.py
  backend/videos/models.py
  backend/videos/serializers.py
  backend/videos/validators.py
  backend/videos/views.py
  backend/youtube_gallery/settings.py
  feature_designs/2025-11-01-embedded-video-player.md
  frontend/app/settings/components/WatchPreferencesSection.tsx
  frontend/app/settings/page.tsx
  frontend/app/videos/components/VideoCard.tsx
  frontend/app/videos/components/VideoList.tsx
  frontend/app/videos/components/__tests__/FilterButtons.test.tsx
  frontend/app/videos/components/__tests__/NotInterestedButton.test.tsx
  frontend/app/videos/components/__tests__/VideoList.test.tsx
  frontend/components/player/VideoPlayer.tsx
  frontend/components/player/keyboardShortcuts.ts
  frontend/components/player/mutations.ts
  frontend/components/player/youtube.d.ts
  frontend/eslint.config.js
  frontend/lib/i18n.ts
  frontend/lib/reactQueryConfig.ts
  frontend/lib/watchPreferencesConstants.ts
  frontend/locales/en/player.json
  frontend/locales/en/settings.json
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/services/auth.ts
  frontend/services/videos.ts
  frontend/tsconfig.json
  frontend/types.ts
  next-steps.md
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

fix flickering video when closing
  frontend/app/videos/components/VideoList.tsx
Due: eslint-fix, prettier-fix, ts-prune-check

Embed player (#10)
  frontend/app/videos/components/VideoList.tsx
Due: eslint-fix, prettier-fix, ts-prune-check

added feature design
  CLAUDE.md
  feature_designs/2025-11-21-channel-handle-search-and-tag-manager-flow.md
  next-steps.md
Due: prettier-fix

fixed crash when videos are removed
  frontend/components/player/VideoPlayer.tsx
  next-steps.md
Due: eslint-fix, prettier-fix, ts-prune-check

added auto identifiyng of invalid videos and removing them
  backend/videos/migrations/0006_video_is_available.py
  backend/videos/models.py
  backend/videos/serializers.py
  backend/videos/services/search.py
  backend/videos/views.py
  frontend/components/player/VideoPlayer.tsx
  frontend/locales/en/player.json
  frontend/services/videos.ts
  frontend/types.ts
  next-steps.md
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

added better handling of issues with channel updates
  backend/videos/management/commands/setup_periodic_tasks.py
  backend/videos/models.py
  backend/videos/services/channel_updater.py
  backend/videos/services/youtube.py
  backend/videos/tasks.py
  backend/youtube_gallery/celery.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

fix additional errors that appeared
  backend/videos/migrations/0006_video_is_available.py
  frontend/app/layout.tsx
  frontend/components/auth/YouTubeAuthBanner.tsx
  frontend/components/auth/index.ts
  frontend/components/player/VideoPlayer.tsx
  frontend/components/ui/ErrorBoundary.tsx
  frontend/locales/en/auth.json
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

added auto google api reset
  backend/users/views.py
  backend/youtube_gallery/settings.py
  docker-compose.yml
  frontend/app/api/auth/login/route.ts
  frontend/app/api/auth/logout/route.ts
  frontend/app/api/auth/register/route.ts
  frontend/components/auth/YouTubeAuthBanner.tsx
  frontend/components/channels/ImportChannelModal.tsx
  frontend/lib/config.ts
  frontend/next.config.js
  frontend/services/shared.ts
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

code quality
  backend/users/views.py
  backend/videos/services/channel_updater.py
  backend/videos/services/youtube.py
  backend/youtube_gallery/settings.py
  frontend/components/auth/YouTubeAuthBanner.tsx
  frontend/components/player/youtube.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  next-steps.md
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

PR fixes
  backend/videos/management/commands/setup_periodic_tasks.py
  frontend/app/layout.tsx
  frontend/components/auth/YouTubeAuthBanner.tsx
  frontend/lib/config.ts
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

Improve unavailable channels handling (#11)
  backend/users/views.py
  backend/videos/management/commands/setup_periodic_tasks.py
  backend/videos/migrations/0006_video_is_available.py
  backend/videos/models.py
  backend/videos/services/channel_updater.py
  backend/videos/services/youtube.py
  backend/videos/tasks.py
  backend/youtube_gallery/celery.py
  backend/youtube_gallery/settings.py
  docker-compose.yml
  frontend/app/api/auth/login/route.ts
  frontend/app/api/auth/logout/route.ts
  frontend/app/api/auth/register/route.ts
  frontend/app/layout.tsx
  frontend/components/auth/YouTubeAuthBanner.tsx
  frontend/components/auth/index.ts
  frontend/components/channels/ImportChannelModal.tsx
  frontend/components/player/VideoPlayer.tsx
  frontend/components/player/youtube.d.ts
  frontend/components/ui/ErrorBoundary.tsx
  frontend/lib/config.ts
  frontend/locales/en/auth.json
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/services/shared.ts
  frontend/tsconfig.json
  next-steps.md
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

fixes for remote deployment
  docker-compose.yml
  frontend/components/tags/TagFilter.tsx
  sync-to-remote.sh
Due: eslint-fix, prettier-fix, ts-prune-check

final fixes for remote
  TUNNEL_SETUP.md
  backend/videos/services/youtube.py
  sync-to-remote.sh
  tunnel.py
Due: prettier-fix, black-fix, ruff-fix, mypy-check, bandit-security

added tag except filter
  backend/users/services/channel_search.py
  backend/users/tests/test_channel_search_service.py
  backend/users/tests/test_tag_functionality.py
  backend/videos/services/search.py
  backend/videos/validators.py
  frontend/components/tags/TagFilter.tsx
  frontend/components/tags/__tests__/TagFilter.test.tsx
  frontend/hooks/__tests__/useChannelFilters.test.ts
  frontend/hooks/__tests__/useVideoFilters.test.ts
  frontend/hooks/useVideoFilters.ts
  frontend/locales/en/tags.json
  frontend/services/__tests__/videos.test.ts
  frontend/types.ts
  frontend/utils/__tests__/channelUrlHelpers.test.ts
  frontend/utils/channelUrlHelpers.ts
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

fix tests
  frontend/components/channels/__tests__/ChannelFilterBar.test.tsx
  frontend/hooks/__tests__/useChannelFilters.test.ts
  frontend/hooks/useVideoFilters.ts
  frontend/services/__tests__/channels.test.ts
Due: eslint-fix, prettier-fix, ts-prune-check

audit fix
  frontend/package-lock.json
Due: prettier-fix

added tag except filter (#12)
  backend/users/services/channel_search.py
  backend/users/tests/test_channel_search_service.py
  backend/users/tests/test_tag_functionality.py
  backend/videos/services/search.py
  backend/videos/validators.py
  frontend/components/channels/__tests__/ChannelFilterBar.test.tsx
  frontend/components/tags/TagFilter.tsx
  frontend/components/tags/__tests__/TagFilter.test.tsx
  frontend/hooks/__tests__/useChannelFilters.test.ts
  frontend/hooks/__tests__/useVideoFilters.test.ts
  frontend/hooks/useVideoFilters.ts
  frontend/locales/en/tags.json
  frontend/package-lock.json
  frontend/services/__tests__/channels.test.ts
  frontend/services/__tests__/videos.test.ts
  frontend/types.ts
  frontend/utils/__tests__/channelUrlHelpers.test.ts
  frontend/utils/channelUrlHelpers.ts
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

fixed tag toggle issue
  frontend/components/tags/TagFilter.tsx
  frontend/components/tags/__tests__/TagFilter.test.tsx
Due: eslint-fix, prettier-fix, ts-prune-check

added favicon
  frontend/app/favicon.ico
Due: none

Fix tag filter bug (#13)
  frontend/app/favicon.ico
  frontend/components/tags/TagFilter.tsx
  frontend/components/tags/__tests__/TagFilter.test.tsx
Due: eslint-fix, prettier-fix, ts-prune-check
