Repository Gargamelism/youtube-gallery: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # === FRONTEND (Next.js) ===
      - id: eslint-fix
        name: ESLint Fix
        entry: docker-compose run --rm frontend npm run lint:fix
        language: system
        files: \.(js|jsx|ts|tsx)$

      - id: prettier-fix
        name: Prettier Format
        entry: docker-compose run --rm frontend npx prettier --write .
        language: system
        files: \.(js|jsx|ts|tsx|json|css|html|md)$

      - id: ts-prune-check
        name: TS-Prune (Unused Exports)
        entry: docker-compose run --rm frontend sh -c "npx ts-prune | grep -v 'used in module'"
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$

      # === BACKEND (Django) ===
      - id: black-fix
        name: Black Format
        entry: docker-compose run --rm backend black .
        language: system
        files: \.py$

      - id: ruff-fix
        name: Ruff Fix
        entry: docker-compose run --rm backend ruff check . --fix
        language: system
        files: \.py$

      - id: mypy-check
        name: Mypy Type Check
        entry: docker-compose run --rm backend mypy .
        language: system
        pass_filenames: false
        files: \.py$

      - id: bandit-security
        name: Bandit Security Check
        entry: docker-compose run --rm backend bandit -r . --severity-level medium
        language: system
        pass_filenames: false
        files: \.py$

code quality fixes
  backend/conftest.py
  backend/requirements-dev.txt
  backend/scripts/parse_bandit_for_reviewdog.py
  backend/users/models.py
  backend/users/tests/test_channel_performance.py
  backend/users/views.py
  backend/videos/services/channel_cleanup.py
  backend/videos/services/youtube.py
  backend/videos/utils/router.py
  backend/youtube_gallery/celery.py
  backend/youtube_gallery/utils/http.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

quality fixes
  backend/conftest.py
  backend/videos/services/youtube.py
  backend/videos/tests/mocks/youtube_api_responses.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

quality code fix
  backend/scripts/parse_bandit_for_reviewdog.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

code quality fix
  backend/scripts/parse_bandit_for_reviewdog.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

code quality fix
  backend/users/models.py
  backend/users/views.py
  backend/videos/services/youtube.py
  backend/youtube_gallery/celery.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

code quality fix
  backend/users/models.py
  backend/users/tests/test_channel_search_service.py
  backend/users/tests/test_tag_functionality.py
  backend/videos/tests/test_000_pre_startup.py
  backend/videos/tests/test_channel_import_view_quota.py
  backend/videos/tests/test_channel_update_service.py
  backend/videos/tests/test_channel_updating.py
  backend/videos/tests/test_quota_integration.py
  backend/videos/tests/test_quota_tracker.py
  backend/videos/tests/test_serializer_optimization.py
  backend/videos/tests/test_url_formatting.py
  backend/youtube_gallery/tests/test_slashless_middleware.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

code quality fix
  backend/videos/tests/test_url_formatting.py
  backend/videos/utils/router.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

code quality fix
  backend/users/views.py
  backend/videos/tests/test_url_formatting.py
  backend/videos/utils/router.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

code quality fix
  backend/users/views.py
  backend/videos/utils/router.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

code quality fix
  backend/users/models.py
  backend/users/services/channel_search.py
  backend/users/views.py
  backend/videos/services/search.py
  backend/videos/tests/test_channel_update_service.py
  backend/videos/tests/test_url_formatting.py
  backend/videos/utils/router.py
  docker-compose.yml
  next-steps.md
Due: prettier-fix, black-fix, ruff-fix, mypy-check, bandit-security

fix tags saving error log
  backend/users/views.py
  next-steps.md
Due: prettier-fix, black-fix, ruff-fix, mypy-check, bandit-security

code quality fix
  backend/users/models.py
  backend/users/views.py
  backend/videos/tests/test_url_formatting.py
  next-steps.md
Due: prettier-fix, black-fix, ruff-fix, mypy-check, bandit-security

code quality fix
  backend/users/tests/test_channel_search_service.py
  backend/videos/management/commands/migrate_sqlite_data.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

code quality fix
  backend/users/tests/test_channel_performance.py
  backend/users/tests/test_channel_search_service.py
  backend/videos/serializers.py
  backend/videos/services/youtube.py
  backend/videos/utils/viewset_mixins.py
  backend/videos/views.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

code quality fix
  backend/users/tests/test_channel_performance.py
  backend/users/tests/test_tag_functionality.py
  backend/users/views.py
  backend/videos/utils/viewset_mixins.py
  backend/videos/views.py
  next-steps.md
Due: prettier-fix, black-fix, ruff-fix, mypy-check, bandit-security

code quality fix
  backend/users/tests/test_tag_functionality.py
  backend/users/views.py
  backend/videos/tests/test_serializer_optimization.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

code quality fix
  backend/users/authentication.py
  backend/users/serializers.py
  backend/users/services/channel_search.py
  backend/users/tests/test_tag_functionality.py
  backend/videos/services/search.py
  next-steps.md
Due: prettier-fix, black-fix, ruff-fix, mypy-check, bandit-security

code quality fix
  backend/pyproject.toml
  backend/requirements-dev.txt
  backend/users/authentication.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/services/channel_search.py
  backend/users/views.py
  backend/videos/exceptions.py
  backend/videos/models.py
  backend/videos/services/youtube.py
  backend/videos/tasks.py
  backend/videos/validators.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

fix handle/search based import
  backend/videos/services/youtube.py
  feature_designs/2025-10-18-mypy-type-annotation-implementation.md
  next-steps.md
Due: prettier-fix, black-fix, ruff-fix, mypy-check, bandit-security

code quality fix
  backend/users/admin.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/utils.py
  backend/videos/admin.py
  backend/videos/decorators.py
  backend/videos/serializers.py
  backend/videos/tasks.py
  backend/videos/validators.py
  next-steps.md
Due: prettier-fix, black-fix, ruff-fix, mypy-check, bandit-security

code quality fix
  backend/users/admin.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/utils.py
  backend/users/views.py
  backend/videos/decorators.py
  backend/videos/fields.py
  backend/videos/models.py
  backend/videos/serializers.py
  backend/videos/services/channel_cleanup.py
  backend/videos/services/channel_updater.py
  backend/videos/services/quota_tracker.py
  backend/videos/services/user_quota_tracker.py
  backend/videos/services/youtube.py
  backend/videos/tasks.py
  backend/videos/utils/retry.py
  backend/youtube_gallery/celery.py
  backend/youtube_gallery/middleware.py
  backend/youtube_gallery/urls.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

code quality fix
  backend/users/tests/test_channel_performance.py
  backend/videos/tests/test_serializer_optimization.py
  backend/youtube_gallery/middleware.py
  next-steps.md
Due: prettier-fix, black-fix, ruff-fix, mypy-check, bandit-security

code quality
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/users/admin.py
  backend/users/models.py
  backend/users/utils.py
  backend/users/views.py
  backend/videos/decorators.py
  backend/videos/fields.py
  backend/videos/models.py
  backend/videos/services/channel_cleanup.py
  backend/videos/services/channel_updater.py
  backend/videos/services/quota_tracker.py
  backend/videos/services/youtube.py
  backend/videos/tasks.py
  backend/youtube_gallery/celery.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

code quality fix
  .pre-commit-config.yaml
  backend/users/admin.py
  backend/videos/decorators.py
  backend/videos/services/channel_cleanup.py
  backend/videos/services/channel_updater.py
  backend/videos/tests/test_channel_update_service.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

too much noise
  .github/workflows/code-quality.yml
  backend/requirements-dev.txt
Due: none

code quality
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
  backend/pytest.ini
  backend/requirements-dev.txt
  backend/videos/tests/test_quota_tracker.py
Due: black-fix, ruff-fix, mypy-check, bandit-security

added not interested columns and endpoints
  backend/users/migrations/0007_add_not_interested_fields.py
  backend/users/models.py
  backend/videos/serializers.py
  backend/videos/tests/test_not_interested.py
  backend/videos/validators.py
  backend/videos/views.py
  feature_designs/2025-10-25-not-interested-video-flow.md
  next-steps.md
Due: prettier-fix, black-fix, ruff-fix, mypy-check, bandit-security

add filters to search and tests
  backend/videos/services/search.py
  backend/videos/tests/test_not_interested.py
  backend/videos/views.py
  feature_designs/2025-10-25-not-interested-video-flow.md
  next-steps.md
Due: prettier-fix, black-fix, ruff-fix, mypy-check, bandit-security

fe infra for not interested
  feature_designs/2025-10-25-not-interested-video-flow.md
  frontend/services/videos.ts
  frontend/types.ts
Due: eslint-fix, prettier-fix, ts-prune-check

add components and GUI items
  feature_designs/2025-10-25-not-interested-video-flow.md
  frontend/app/videos/components/NotInterestedButton.tsx
  frontend/app/videos/components/VideoCard.tsx
  frontend/locales/en/videos.json
Due: eslint-fix, prettier-fix, ts-prune-check

added reactQuery integration
  feature_designs/2025-10-25-not-interested-video-flow.md
  frontend/app/videos/components/FilterButtons.tsx
  frontend/app/videos/components/VideoList.tsx
  frontend/app/videos/page.tsx
  frontend/hooks/useVideoFilters.ts
Due: eslint-fix, prettier-fix, ts-prune-check

added tests
  TESTING_CHECKLIST_NOT_INTERESTED.md
  feature_designs/2025-10-25-not-interested-video-flow.md
  frontend/app/videos/components/__tests__/FilterButtons.test.tsx
  frontend/app/videos/components/__tests__/NotInterestedButton.test.tsx
  frontend/hooks/__tests__/useVideoFilters.test.ts
  frontend/hooks/useVideoFilters.ts
Due: eslint-fix, prettier-fix, ts-prune-check

updaed next steps
  next-steps.md
Due: prettier-fix

super code quality
  backend/videos/serializers.py
  backend/videos/services/search.py
  backend/videos/tests/test_not_interested.py
  backend/videos/validators.py
  frontend/app/videos/components/NotInterestedButton.tsx
  frontend/app/videos/components/VideoCard.tsx
  frontend/app/videos/components/VideoList.tsx
  frontend/app/videos/components/__tests__/FilterButtons.test.tsx
  frontend/app/videos/components/__tests__/NotInterestedButton.test.tsx
  frontend/hooks/__tests__/useVideoFilters.test.ts
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

code quality
  .pre-commit-config.yaml
  backend/users/tests/test_channel_performance.py
  frontend/app/page.tsx
  frontend/app/videos/components/__tests__/VideoList.test.tsx
  frontend/hooks/__tests__/useInfiniteScroll.test.ts
  frontend/hooks/__tests__/useInfiniteVideos.test.tsx
  frontend/hooks/__tests__/useScrollPosition.test.ts
  frontend/services/__tests__/videos.test.ts
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

code quality
  .pre-commit-config.yaml
  backend/videos/tests/test_not_interested.py
  frontend/hooks/__tests__/useInfiniteVideos.test.tsx
  frontend/services/__tests__/videos.test.ts
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

Not interested flow (#8)
  .pre-commit-config.yaml
  TESTING_CHECKLIST_NOT_INTERESTED.md
  backend/users/migrations/0007_add_not_interested_fields.py
  backend/users/models.py
  backend/users/tests/test_channel_performance.py
  backend/videos/serializers.py
  backend/videos/services/search.py
  backend/videos/tests/test_not_interested.py
  backend/videos/validators.py
  backend/videos/views.py
  feature_designs/2025-10-25-not-interested-video-flow.md
  frontend/app/page.tsx
  frontend/app/videos/components/FilterButtons.tsx
  frontend/app/videos/components/NotInterestedButton.tsx
  frontend/app/videos/components/VideoCard.tsx
  frontend/app/videos/components/VideoList.tsx
  frontend/app/videos/components/__tests__/FilterButtons.test.tsx
  frontend/app/videos/components/__tests__/NotInterestedButton.test.tsx
  frontend/app/videos/components/__tests__/VideoList.test.tsx
  frontend/app/videos/page.tsx
  frontend/hooks/__tests__/useInfiniteScroll.test.ts
  frontend/hooks/__tests__/useInfiniteVideos.test.tsx
  frontend/hooks/__tests__/useScrollPosition.test.ts
  frontend/hooks/__tests__/useVideoFilters.test.ts
  frontend/hooks/useVideoFilters.ts
  frontend/locales/en/videos.json
  frontend/services/__tests__/videos.test.ts
  frontend/services/videos.ts
  frontend/types.ts
  next-steps.md
Due: eslint-fix, prettier-fix, ts-prune-check, black-fix, ruff-fix, mypy-check, bandit-security

added videos are clickable
  frontend/app/videos/components/VideoCard.tsx
  next-steps.md
Due: eslint-fix, prettier-fix, ts-prune-check

added feature design
  feature_designs/2025-11-01-embedded-video-player.md
Due: prettier-fix
